body{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  background-color: black;
  background-image: url("./assets/home-bg.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.home-container-1{
  min-height: 100vh;
  max-width: 1250px;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  margin: 0% auto;
}

.home-container-2{
  max-width: 1100px;
  width: calc(100% - 164px);
  border: 1px solid #555c64;
  padding: 24px;
  box-sizing: border-box;
  
}

.grad-btn{
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-color: black;
  /* background-image: linear-gradient(to right, rgb(163, 11, 252), rgb(4, 4, 121)); */
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 400;
  font-size: 13px;
}

.grad-btn:hover{
  /* transform: scale(1.01); */
  background-image: linear-gradient(to right, rgb(147, 16, 222), rgb(2, 2, 67));
}

.inner-grad-btn{
  background-image: linear-gradient(to right, rgb(163, 11, 252), rgb(4, 4, 121));
}

.inner-grad-btn:hover{
  background-image: linear-gradient(to right, rgb(147, 16, 222), rgb(2, 2, 67));
}

.all-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    margin-left: 4px;
    background-color: hsl(227, 10%, 27%);
    
    /* border: solid 2px rgb(255, 255, 255, 0.5); */

}

.all-links{
    color: lightskyblue;
    text-decoration: none;
    
}

